$Roboto: "Roboto", sans-serif;
$Merienda: quote("Merienda"), cursive;

@font-face {
  font-family: "Roboto", sans-serif;
  src: "../../assets/fonts/Roboto/Roboto-Regular.ttf" format("ttf");
}
@font-face {
  font-family: "Merienda", cursive;
  src: "../../assets/fonts/Merienda/static/Merienda-SemiBold.ttf" format("ttf");
}
