@font-face {
  font-family: "meriendaReg";
  src: url("../../assets/fonts/merienda-variablefont_wght-webfont.woff2")
      format("woff2"),
    url("../../assets/fonts/merienda-variablefont_wght-webfont.woff")
      format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "robotoReg";
  src: url("../../assets/fonts/roboto-regular-webfont.woff2") format("woff2"),
    url("../../assets/fonts/roboto-regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

$regularFont: "robotoReg", sans-serif;
$accentFont: quote("meriendaReg"), cursive, sans-serif;
