$font-size: null;
:root {
  --font-size: 1.2rem;
  $font-size: var(--font-size) !global;

  @media (min-width: 425px) {
    & {
      --font-size: 1.15rem;
      $font-size: var(--font-size) !global;
    }
  }
}

@function getCSSVar($name) {
  @return var(--#{$name});
}

@mixin flexbox($direction) {
  display: flex;
  flex-direction: $direction;
  justify-content: center;
  align-items: center;
}

@mixin rounded {
  border-radius: 20px;
  padding: 5%;
}
