@use "../common/variables" as var;
@use "../common/fonts";
@use "../components/form";

main {
  width: 75vmin;
  height: max-content;
  @include var.rounded();
  background-color: var.getCSSVar(window);

  @media (max-width: 425px) {
    & {
      width: 90vmin;
    }
  }
}

h1 {
  font-family: fonts.$accentFont;
  text-align: center;
  padding-bottom: 2vmin;
  color: var.getCSSVar(font);
}
