@use "../common/forward_main" as *;
@use "../components/button";

body {
  font-size: 1.5rem;
}

main {
  position: relative;
  z-index: 1;
  width: max-content;
  height: max-content;
  padding: 5%;
  @include flexbox(column);
  row-gap: 5vmin;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    filter: blur(1px);
    background-color: getCSSVar(accent);
    border-radius: 25px;
  }
}

h1 {
  text-align: center;
  padding: 0 5%;
  font-family: $Merienda;

  span {
    font-family: inherit;
    display: inline-block;
    line-height: $font-size;
  }
}

.btn-container {
  width: 100%;
  height: 100%;
  @include flexbox(row);
  justify-content: space-evenly;
}
