@use "./common/forward_main" as *;
@use "./common/mediaQueries" as mq;
@include mq.colorVars($dark-colors);
@include mq.checkTheme;
/*
--theme
--font
--accent
*/

body {
  width: 100%;
  height: 100vh;
  background-color: getCSSVar(background);
  color: getCSSVar(font);
  @include flexbox(column);
}
